
/* reset */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */

:root {
    /* color */

    --darker-color: #2ab2af;
    --lighter-color: #7ed1ce;

    /* general */
    
    --paddings: 25px;
}

/* general styles */

html {
    font-size: 16px;
    font-family: Georgia;
    font-weight: 400;
}

body {
    padding: 20px;
}

#card {
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, .35);
    border-radius: 5px;
    /*overflow: hidden; */
    margin-left: auto;
    margin-right: auto;
}

#top-section {
    width: 100%;
    height: 45%;
    padding: var(--paddings);
}

#bottom-section {
    width: 100%;
    height: 55%;
    color: #fff;
    display: flex;
    flex-direction: column;
}

#bottom-left-section {
    padding: var(--paddings);
    background-color: var(--darker-color);
}

#bottom-right-section {
    padding: var(--paddings);
    background-color: var(--lighter-color);
}

#top-section h2 {
    color: #2ab2af;
    margin-bottom: 15px;
}

#top-section h4 {
    color: #c8df34;
    margin-bottom: 10px;
}

#top-section p {
    color: rgb(123, 142, 161);
    line-height: 1.4;
}

button {
    color: #fff;
    font: inherit;
    background-color: #c8df34;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: hsl(68, 69%, 50%);
    transform: scale(1.02);
}

#bottom-left-section h4 {
    margin-bottom: 25px;
}

#bottom-right-section h4 {
    margin-bottom: 10px;
}

ul {
    margin-left: 15px;
    list-style-type: none;
    font-size: .8rem;
    opacity: .8;
}

#price-container {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

#price {
    font-weight: 700;
    font-size: 1.4rem;
}

#price-frequency {
    font-size: 0.7rem;
    opacity: .8;
    margin-left: 5px;
}

#bottom-left-section p {
    margin-bottom: 40px;
    font-size: .8rem;
}


@media (min-width: 576px){
    #card {
        width: 600px;
        height: 400px; 
    }
    #bottom-section{
        flex-direction: row;
    }
    #bottom-left-section, #bottom-right-section {
        /*flex-basis: 50%; */
        flex-grow: 1;
    }
}
